@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

html, body, #root, #root > * {
  margin: 0;
  width: 100%;
  overflow: hidden;
}

ul {
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
